*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:Verdana, sans-serif;
}

body{
  background:#ececec;
  min-height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
  color:#111;
  transition:0.4s;
}

.mainBox{
  width:90%;
  max-width:480px;
}

h1{
  text-align:center;
  margin-bottom:22px;
  font-size:34px;
}

.cardArea{
  background:white;
  padding:28px;
  border-radius:22px;
  box-shadow:0 6px 18px rgba(21, 21, 21, 0.12);
}

.inputGroup{
  margin-bottom:16px;
}

label{
  display:block;
  margin-bottom:7px;
  font-size:15px;
}

input{
  width:100%;
  padding:13px;
  border:none;
  border-radius:12px;
  background:#efefef;
  font-size:15px;
}

button{
  width:100%;
  padding:14px;
  border:none;
  border-radius:14px;
  background:#111;
  color:white;
  cursor:pointer;
  margin-top:12px;
  font-size:16px;
}

button:hover{
  opacity:0.9;
}

.resultBox{
  margin-top:28px;
  text-align:center;
}

.resultBox h2{
  font-size:42px;
  margin-bottom:10px;
}

.resultBox p{
  color:gray;
  margin-bottom:15px;
}

.themeBtn{
  margin-top:18px;
}
.darkMode{
  background:#0f172a;
  color:white;
}

.darkMode .cardArea{
  background:#1e293b;
}

.darkMode input{
  background:#334155;
  color:white;
}

.darkMode button{
  background:#38bdf8;
  color:#111827;
}

.darkMode h1{
  color:#38bdf8;
}